mat-toolbar {
  padding: 0 4rem;
  background-color: lightblue;
}

nav a {
  color: black;
  margin-left: 1rem;

  text-decoration: none;
  font-weight: 500;

}

nav a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

@media (max-width: 768px) {
  nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  nav a {
    margin: 0.25rem 0;
  }
}

.spacer {
  flex: 1 1 auto;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.custom-cart-button {
  margin-right: 0;
  /* remove any default spacing if present */
  padding-right: 0;
  /* optional: fine-tune spacing */
}

.custom-cart-icon {
  margin-left: 0;
  /* remove unwanted space from left */

  background-color: transparent;
  border-color: none;
  border: none;
  /* Remove border */
  outline: none;
  /* Remove focus outline */
  box-shadow: none;
  /* Remove any shadow effects */
}

.cart-actions {
  display: flex;
  align-items: center;
  gap: 2px;
  /* Adjust as needed, or use margin manually */
  display: flex;
  flex-direction: row;
  padding-left: 0px;
  width: 100%;

}
.headerName{
  margin-left: 10px;
  padding: 5px 0;
  display: inline-block;
  text-decoration-color: blue;
  
  color: #da2222;            /* Dark neutral color */
  font-weight: bold;         /* Bold for brand presence */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}